@import "../../reset.css";

.Viewport_viewport {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: background-color 0.5s, opacity 1s ease-in-out;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*μ„Έν…*/
.Viewport_viewport .Viewport_mini {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding-inline: 40px;
  z-index: 30;
}

.Viewport_viewport .Viewport_mini .Viewport_widget.Viewport_settings {
  -webkit-margin-start: 14px;
  margin-inline-start: 14px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget + .Viewport_widget {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.Settings_container {
  font-size: 0;
}

.Settings_container .Settings_btn_settings {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Settings_container .Settings_icon {
  color: #fff;
  vertical-align: middle;
}
