@import "../../reset.css";

.Viewport_viewport {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: background-color 0.5s, opacity 1s ease-in-out;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.whalekku_widget_contain {
  width: 778px;
  height: 347px;
  position: relative;
  margin: 0 auto;
  top: 370px;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.sticker1 {
  position: absolute;
  z-index: 30;
}

.sticker2 {
  position: absolute;
  z-index: 30;
}
.sticker3 {
  position: absolute;
  z-index: 30;
}

.whalekku_widget_row {
  display: grid;
  grid-template-columns: repeat(6, auto);
}

.whalekku_widget {
  position: relative;
  width: 113px;
  height: 101px;
  margin: 0 20px 21px 0;
  border-radius: 16px;
  background-color: transparent;
}

.whalekku_widget .file {
  margin: 23px 34px 9px 35px;
}
.filetitle {
  color: #fff;
  font-size: 13px;
  margin-bottom: 9px;
}

/*μ„Έν…*/
.Viewport_viewport .Viewport_mini {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding-inline: 40px;
  z-index: 30;
}

.Viewport_viewport .Viewport_mini .Viewport_widget.Viewport_settings {
  -webkit-margin-start: 14px;
  margin-inline-start: 14px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget + .Viewport_widget {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.Settings_container {
  font-size: 0;
}

.Settings_container .Settings_btn_settings {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Settings_container .Settings_icon {
  color: #fff;
  vertical-align: middle;
}
