@import "../../reset.css";

.SettingDialog_whalekku {
  width: 349px;
  height: 715px;
  margin: 108px 0 0 40px;
  padding: 0 0 28px;
  border-radius: 21px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background-color: #f2f1f4;
  position: absolute;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 63px;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  max-width: unset;
  max-height: unset;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 0 0 0.5px rgb(0 0 0 / 20%), 0 2px 10px rgb(0 0 0 / 30%);
  box-sizing: border-box;
  background: #fff;
}

.SettingsDialog_setting_whalekku {
  width: 349px;
  height: 715px;
  cursor: default;
  text-align: start;
}

.SettingsDialog_menu_whalekku {
  width: 349px;
  height: 53px;
  border-radius: 21px;
  background-color: #fff;
}

.SettingDialog_tabs_whalekku {
  width: 349px;
  height: 53px;
  display: flex;
  align-items: center;
}

.SettingDialog_whalekku_tab_1 {
  display: block;
  width: 175px;
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  background: transparent;
  border: 0;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  cursor: pointer;
}

.SettingDialog_whalekku_tab_2 {
  display: block;
  width: 175px;
  height: 35px;
  padding: 0px 10px;
  font-size: 14px;
  background: transparent;
  border: 0;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8d8d8d;
  cursor: pointer;
}
