@import "../../reset.css";

.SettingDialog_content_whalekku {
  height: auto;
  flex: 1;
  padding: 15px;
  background: #f2f1f4;
  font-size: 13px;
  letter-spacing: -0.5pt;
}

.Widgets_section_whalekku {
  width: 319px;
  height: 73px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label_container {
  padding-left: 20px;
}
.label_title {
  padding-bottom: 1px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.label_detail {
  margin: 1px 0 0;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #636363;
  height: auto;
}

.Widgets_section_whalekku .label {
  width: 305px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
