@import "reset.css";

.App {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.Viewport_viewport {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: background-color 0.5s, opacity 1s ease-in-out;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Search_container {
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
  top: 200px;
}

.Search_container .Search_form {
  width: 460px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 3;
  color: #000;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 30px rgb(0 0 0 / 25%);
}

.Search_container .Search_form .Search_search {
  display: flex;
  align-items: center;
}

.Search_container .Search_form .Search_search .Search_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  min-width: 53px;
  height: 48px;
  color: var(--logo-color, #fff);
  transition: color 0.1s;
}

.Search_container .Search_form .Search_search .Search_input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 0;
  background: transparent;
  font-size: 16px;
  letter-spacing: -0.25pt;
  -webkit-padding-before: 3px;
  padding-block-start: 3px;
}

/*μ„Έν…*/
.Viewport_viewport .Viewport_mini {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding-inline: 40px;
  z-index: 30;
}

.Viewport_viewport .Viewport_mini .Viewport_widget.Viewport_settings {
  -webkit-margin-start: 14px;
  margin-inline-start: 14px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget + .Viewport_widget {
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}
.Viewport_viewport .Viewport_mini .Viewport_widget {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.Settings_container {
  font-size: 0;
}

.Settings_container .Settings_btn_settings {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Settings_container .Settings_icon {
  color: #fff;
  vertical-align: middle;
}
