@import "../../reset.css";

.Sticker_whalekku {
  height: 662px;
  flex: 1;
  font-size: 13px;
  letter-spacing: -0.5pt;
  background: navy;
}
.StickerContain {
  padding: 26px 20px;
  height: 662px;
}
